{% extends "base.html" %}

{% block title %}Rejestracja{% endblock %}

{% block body %}

    <!-- main secion -->
<section id="main">
    <div class="container-xxl mt-5">

        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5 text-center">
                <header>
                    <h1 class="text-md-center text-center text-success">Udana rejestracja!</h1>
                </header>
            </div>  
            <p class="fs-2 text-center text-primary mb-1">Sprawdź swój adres email aby aktywować konto</p>        
            
            <span class="text-center mb-5 text-danger">Jeśli nie znajdujesz wiadomości, sprawdź swój folder spam</span>
        </div>
    </div>
</section>
{% endblock %}