{% extends "base.html" %}

{% block title %}Resetowanie hasła{% endblock %}

{% block body %}

    <!-- main secion -->
<section id="main">
    <div class="container-xxl mt-5">

        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5 text-center">
                <header>
                    <h1 class="text-md-center text-center">Zresetuj swoje hasło</h1>
                </header>

                <!-- <div class="col-md-6 col-lg pe-3"> -->

                  <form method="POST" action="/login/create" class="needs-validation" id="formSignup" novalidate>
                      
                      <div class="mb-3">
                          <label for="inputEmail1" class="form-label fs-5">Podaj swój adres email</label>
                          <input type="email" name="email" value="" class="form-control fs-5 pt-3 pb-3 shadow-none"
                              id="inputEmail" aria-describedby="emailHelp" required>
                          <div class="invalid-feedback">
                       </div>
                                              
                        
                      <button type="submit" name="submit" class="btn btn-light p-3 mt-3">Wyślij email resetujący hasło
                      </button>
                  </form>

                  <script src="js/script.js"></script>
              <!-- </div> -->

            </div>
         
        </div>

    </div>
</section>

{% endblock %}
