{% extends "base.html" %}

{% block title %}Resetowanie hasła{% endblock %}

{% block body %}

    <!-- main secion -->
<section id="main">
    <div class="container-xxl mt-5">

        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5 text-center">
                <header>
                    <h1 class="text-md-center text-center">Resetowanie hasła</h1>
                </header>
            </div>  
            <p class="text-success fs-2 text-center">Link resetujący hasło został wysłany na Twój adres email</p>        
            <p class="text-danger fs-6 mt-0 text-center">Jeśli nie znajdujesz wiadomości, sprawdź swój folder spam</p>        
        </div>
    </div>
</section>

{% endblock %}