{% extends "baseAfterLogin.html" %}

{% block title %}Przeglądaj bilans{% endblock %}


{% block body %}

<script>
                
      //Jquery Validation
$.validator.setDefaults({
  errorClass: 'invalid-feedback',
  highlight: function(element){
      $(element)
          .addClass('is-invalid');
  },
  unhighlight: function(element){
      $(element)
          .removeClass('is-invalid')
          .addClass('is-valid')
  },
});

$.validator.addMethod('validDates',
  function(value, element, param){
      if (value != '') {
          if (value < '2000-01-01') {
              return false;
          }
      }
      return true;
  },
  'Data musi być większa od 01-01-2000'

);

$.validator.addMethod('validDates2',
  function(value, element, param){
     var value2 = $( "#endDate1" ).val();
      if (value != '') {
          if (value > value2) {
              return false;
          }
      }
      return true;
  },
  'Pierwsza data nie może być większa od drugiej daty'

);


$(document).ready(function(){

  $('#addIncomeForm').validate({
      rules: {
         startDate: { 
          required: true,
          validDates: true,
          validDates2: true
          },

          endDate: { 
          required: true,
          validDates: true
          }
             
      },
      messages: {
         startDate: {
              required: '<span class="text-danger">To pole jest wymagane</span>',
          },
          endDate: {
              required: '<span class="text-danger">To pole jest wymagane</span>',
          }  
         
      }
  });  
  
});

 </script>

<!-- main secion -->
<section id="main">
   <div class="container-xxl mt-5">
      <div class="row align-items-start">
         <div class="col-lg-6 align-self-start dupa">
            <header>

               {% if currentUser %}
               <span>
                  <h1 class='text-start'>Witaj <span class='text-success'>{{currentUser.username}}</h1>
               </span>
               {% endif %}


            </header>
            <div class="row">
               <a href="Income/addIncome"
                  class="col bg-light mb-2 me-2 p-5 rounded-3 text-center text-white text-nowrap fs-2">
                  Dodaj przychód
               </a>
               <a href="Expense/addExpense"
                  class="col bg-secondary mb-2 me-2 p-5 rounded-3 text-center text-white text-nowrap fs-2">
                  Dodaj rozchód
               </a>
            </div>
            <div class="row">
               <a href="Balance/period" class="col bg-info me-2 p-5 rounded-3 text-center text-nowrap text-white fs-2">
                  Przeglądaj bilans
               </a>
            </div>
         </div>
         <div class="col ms-lg-5 mt-5 mt-lg-0">
            <header>
               <h1 class="text-start">Przeglądaj bilans</h1>
            </header>

            <form action="/balance/balance" method="POST" class="needs-validation" id="addIncomeForm" novalidate>

               <div class="mb-3 mb-4">
                  <label for="selectBalancePeriod" class="form-label">Wybierz okres</label>
                  <select name="balancePeriod" class="form-select fs-5 pt-3 pb-3" id="selectedBalancePeriod"
                     onchange="showDateInputs()" aria-label="Default select example" required>

                     {% if balancePeriod is defined %}
                     {% for key, value in periods %}
                     <option value="{{ key }}" {% if key==balancePeriod %} selected {% endif %}> {{ value }} </option>
                     {% endfor %}
                     {% else %}

                     <option value="currentMonth">Bieżący miesiąc</option>
                     <option value="previousMonth">Poprzedni miesiąc</option>
                     <option value="currentYear">Bieżacy rok</option>
                     <option value="non_standard_period">Wybrany okres</option>

                     {% endif %}
                  </select>
               </div>

               <div class="mb-3">
                  <div class="selectPeriod" id="selectPeriodId" 
                  {% if balancePeriod is defined %}
                  {% if balancePeriod == 'non_standard_period' %}
                  style="display: grid;"
                  {% endif %}
                  {% endif %}
                  >
                     <label for="startDate1" class="form-label mt-3">Wybierz datę początkową</label>
                     <input required class="form-control fs-5 pt-3 pb-3 shadow-none mb-2" type="date"  name="startDate" id="startDate1"
                     {% if startDate is defined %}
                     value = "{{ startDate }}"
                     {% endif %}
                     >
                     <label for="endDate1" class="form-label">Wybierz datę końcową</label>
                     <input required class="form-control fs-5 pt-3 pb-3 shadow-none" type="date" name="endDate" id="endDate1" 
                     {% if endDate is defined %}
                     value = "{{ endDate }}"
                     {% endif %}
                     >
                     <div class="invalid-feedback">
                     </div>

                     <p class="mt-3 text-danger" id="wrongDates"></p>
                  </div>
               </div>
               <button type="submit" name="submitBalance" value="submitBalance" class="btn btn-light p-4">Pokaż bilans</button>   
                             
         </div>
      </div>
   </div>
</section>

<section>

   <!-- Creating balance table -->
   <div class="container mt-5 ps-1" id="balanceContainer">

      {% if detailedIncomes is defined %}
      {% if detailedIncomes is empty %}
      <h2 class="mb-4">Brak przychodów do edycji</h2>
      {% else %}
       
      <h2 class="mb-4">Przychody</h2>
    
      <table class="table table-striped mb-0">
         <thead>
            <tr>
               <th scope="col">Id</th>
               <th scope="col">Kategoria</th>
               <th scope="col">Kwota</th>
               <th scope="col">Data</th>
             
            </tr>  
         </thead>
         <tbody>          
            {% for key, value in detailedIncomes %}
            <tr> 
               <td>{{ value.id|e }} </td> 
               <td>{{ value.name|e }}</td>
               <td>{{ value.amount|e }}</td>
               <td>{{ value.date_of_income|e }}</td>
               <td><button type="button" class="btn btn-danger showDetailedBalance" data-id="{{ value.id|e }}|income">Usuń</button></td>
            </tr>
            {% endfor %}
              
         </tbody>
      </table>
      
      <table class="table mb-5 mt-0 pt-0">
         <thead> 
         </thead>
         <tbody class="fs-4">
            <tr class="bg-light">
               <th style="width: 15rem;">Suma przychodów</th>
               {% for key in incomesSum %}
               <th>{{ key.total|e }} zł</th>
               {% endfor %}
            </tr>
         </tbody>
      </table>

   {% endif %}
   {% endif %}


   {% if detailedExpenses is defined %}
   {% if detailedExpenses is empty %}
   <h2 class="mb-4">Brak wydatków do edycji</h2>
   {% else %}
    
   <h2 class="mb-4">Wydatki</h2>
 
   <table class="table table-striped mb-0">
      <thead>
         <tr>
            <th scope="col">Id</th>
            <th scope="col">Kategoria</th>
            <th scope="col">Kwota</th>
            <th scope="col">Data</th>
            <th scope="col">Metoda płatności</th>
         </tr>  
      </thead>
      <tbody>          
         {% for key, value in detailedExpenses %}
         <tr> 
            <td>{{ value.id|e }} </td> 
            <td>{{ value.name|e }}</td>
            <td>{{ value.amount|e }}</td>
            <td>{{ value.date_of_expense|e }}</td>
            <td>{{ value.payment|e }}</td>
            <td><button type="button" class="btn btn-danger showDetailedBalance" data-id="{{ value.id|e }}|expense">Usuń</button></td>
         </tr>
         {% endfor %} 
           
      </tbody>
   </table>
   
   <table class="table mb-5 mt-0 pt-0">
      <thead> 
      </thead>
      <tbody class="fs-4">
         <tr class="bg-secondary">
            <th style="width: 15rem;">Suma wydatków</th>
            {% for key in expensesSum %}
            <th>{{ key.total|e }} zł</th>
            {% endfor %}
         </tr>
      </tbody>
   </table>

{% endif %}
{% endif %}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Usuwanie wpisu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <h4>Czy na pewno chcesz usunąć wpis?</h4>
            <input type="text" name="dataid" id="dataid" value="">
         </div>
         <div class="modal-footer">
            <button formaction="/balance/detailedBalance" name="submitBalance" value="submitBalance" type="submit"
               class="btn btn-danger" data-bs-toggle="modal">Usuń</button>
         </div>
      </div>
   </div>
</div>
<!-- end modal -->

 </form> 

   </div>
</section>

<script>
   // self executing function here
   (function() {
      // your page initialization code here
      // the DOM will be available here
      // var element = document.querySelector("#start");
      // element.scrollIntoView();
      document.documentElement.scrollTop = document.body.scrollTop = 220;
      
   })();

   
      $(document).ready(function(){
         $(".showDetailedBalance").click(function(){
            
            var ids = $(this).attr('data-id');
            $('#dataid').val( ids );
            $('#myModal').modal('show');

         });
      });

                 
</script>

{% endblock %}

{% block footer %}

{% endblock %}