# Remove the question mark from the request but maintain the query string
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# remove public/ from URLs using a redirect rule
# RewriteCond %{THE_REQUEST} \s/+(.+/)?public/(\S*) [NC]
# RewriteRule ^ /%1%2? [R=301,L,NE]

# Uncomment the following line if your public folder isn't the web server's root
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ index.php?$1 [L,QSA]