{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

{% block footer %}

{% endblock %}

<!-- main secion -->
<section id="main">
    <div class="container-xxl mt-5">
        <div class="row justify-content-between">
            <div class="col-md-6 col-lg-7 text-center">
                <header>
                    <h1 class="text-md-start text-center">Zarejestruj się już teraz aby zarządzać swoim budżetem.</h1>
                </header>
                <ul class="text-start">
                    <li><i class="demo-icon icon-ok"><span>Zbierz wszystkie swoje przychody w jednym miejscu.</span></i>
                    </li>
                    <li><i class="demo-icon icon-ok"><span>Rozsądnie kalkuluj swoje wydatki.</span></i></li>
                    <li><i class="demo-icon icon-ok"><span>Analizuj swój budżet aby lepiej nim zarządzać.</span></i>
                    </li>
                    <li><i class="demo-icon icon-ok"><span>Zacznij już dzisiaj korzystać z aplikacji Twój
                                budżet.</span></i></li>
                </ul>
                <img class="img-fluid d-none d-lg-block p-5" src="img/mainChart.png" alt="main chart">
            </div>
            <!-- fomrm & inputs -->
            <div class="col-md-6 col-lg pe-3">
                <form method="POST" action="/signup/create" id="formSignup">
                    <div class="mb-3 mt-5">
                        <label for="inputName1" class="form-label fs-5">Podaj nazwę użytkownika</label>
                        <input type="text" name="username" value="{{ user.name }}" class="form-control fs-5 pt-3 pb-3 shadow-none"
                            id="inputName" minlength="4" required>                       
                    </div>
                    <div class="mb-3">
                        <label for="inputEmail1" class="form-label fs-5">Podaj swój adres email</label>
                        <input type="email" name="email" value="{{ user.email }}" class="form-control fs-5 pt-3 pb-3 shadow-none"
                            id="inputEmail" aria-describedby="emailHelp" required>   
                        <div id="emailHelp" class="form-text">Nigdy nie udostepnimy nikomu twojego adresu</div>
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword1" class="form-label fs-5">Utwórz swoje hasło</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="far fa-eye" id="togglePassword" style="cursor: pointer;"></i>
                            </span>
                        <input type="password" name="password" class="form-control fs-5 pt-3 pb-3 shadow-none"
                            id="inputPassword" minlength="6" autocomplete="current-password" spellcheck="false" autocorrect="off" autocapitalize="off" required>      
                        </div>
                     
                        {% if user.errors is not empty %}
                        <ul>
                            {% for error in user.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                    </div>
                    <button type="submit" name="submit" class="btn btn-light p-3">Zarejestruj
                        się</button>
                </form>
            </div>           
        </div>
    </div>
</section>


{% endblock %}