{% extends "baseAfterLogin.html" %}

{% block title %}Profil{% endblock %}

{% block body %}

{% block footer %}




<!-- main secion -->
<section id="main">
    <div class="container-xxl mt-5">
       <div class="row align-items-start">
          <div class="col-lg-6 align-self-start dupa">
             <header>

               {% if currentUser %}
                  <span><h1 class='text-start'>Witaj <span class='text-success'>{{currentUser.username}}</h1></span>
               {% endif %} 

             </header>
             <div class="row">
                <a href="/addIncome" class="col bg-light mb-2 me-2 p-5 rounded-3 text-center text-white text-nowrap fs-2">
                   Dodaj przychód
                </a>
                <a href="/addExpense" class="col bg-secondary mb-2 me-2 p-5 rounded-3 text-center text-white text-nowrap fs-2">
                   Dodaj rozchód
                </a>
             </div>
             <div class="row">
                <a href="/period" class="col bg-info me-2 p-5 rounded-3 text-center text-nowrap text-white fs-2">
                   Przeglądaj bilans
                </a>
             </div>
          </div>
          <div class="col ms-lg-5 mt-5 mt-lg-0">
             <header>
                <h1 class="text-start">Ustawienia</h1>
             </header>
                <div class="mb-3">
                   <label for="selectIncomeCategory" class="form-label label-edit">Wybierz kategorię przychodu do edycji</label>
                   <select name="incomeCategory"  class="form-select fs-5 pt-3 pb-3" id="selectedIncomeCategory" aria-label="Default select example">

                      {% if income_cat %} 
                        {% for key, value in income_cat %}
                           <option value="{{ value.id|e }}|{{ value.name|e }}"
                           
                           {% if category_name is defined %}
                           {% if category_name == value.name|e %}
                                 selected
                           {% endif %}
                           {% endif %}
                           
                           >{{ value.name|e }}</option>
                        {% endfor %}
                      {% endif %}                      

                   </select>
                </div>
                
                <button type="button" id="incomeButton" class="btn btn-info mb-4 p-2 incomeCategoryEdit editButton" data-id="">Zmień nazwę</button>
                <button type="button" id="incomeAddButton" class="btn btn-success mb-4 p-2 incomeCategoryEdit editButton" data-id="">Dodaj</button>
                <button type="button" id="incomeDeleteButton" class="btn btn-danger mb-4 p-2 incomeCategoryEdit editButton" data-id="">Usuń</button>

                <div class="mb-3 mt-4">
                  <label for="selectExpenseCategory" class="form-label label-edit">Wybierz kategorię rozchodu do edycji</label>
                  <select name="expenseCategory"  class="form-select fs-5 pt-3 pb-3" id="selectedExpenseCategory" aria-label="Default select example">

                     {% if expense_cat %} 
                       {% for key, value in expense_cat %}
                          <option value="{{ value.id|e }}|{{ value.name|e }}" 
                          
                           {% if category_name is defined %}
                           {% if category_name == value.name|e %}
                                 selected
                           {% endif %}
                           {% endif %}
                          
                          >{{ value.name|e }}</option>
                       {% endfor %}
                     {% endif %}  
                     
                  </select>
               </div>
               
               <button type="button" id="expenseButton" class="btn btn-info mb-4 p-2 expenseCategoryEdit editButton" data-id="">Zmień nazwę</button>
               <button type="button" id="expenseAddButton" class="btn btn-success mb-4 p-2 expenseCategoryEdit editButton" data-id="">Dodaj</button>
               <button type="button" id="expenseDeleteButton" class="btn btn-danger mb-4 p-2 expenseCategoryEdit editButton" data-id="">Usuń</button>

               <div class="mb-3 mt-4">
                  <label for="selectPaymentCategory" class="form-label label-edit">Wybierz metodę płatności do edycji</label>
                  <select name="paymentCategory"  class="form-select fs-5 pt-3 pb-3" id="selectedPaymentCategory" aria-label="Default select example">

                     {% if payment_cat %} 
                       {% for key, value in payment_cat %}
                          <option value="{{ value.id|e }}|{{ value.name|e }}" 
                          
                           {% if category_name is defined %}
                           {% if category_name == value.name|e %}
                                 selected
                           {% endif %}
                           {% endif %}
                          
                          >{{ value.name|e }}</option>
                       {% endfor %}
                     {% endif %}  
                     
                  </select>
               </div>
               
               <button type="button" id="paymentButton" class="btn btn-info mb-4 p-2 paymentCategoryEdit editButton" data-id="">Zmień nazwę</button>
               <button type="button " id="paymentAddButton" class="btn btn-success mb-4 p-2 paymentCategoryEdit editButton" data-id="">Dodaj</button>
               <button type="button" id="paymentDeleteButton" class="btn btn-danger mb-4 p-2 paymentCategoryEdit editButton" data-id="">Usuń</button>
             

                <!-- Edit Modal -->
               <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                     <div class="modal-content">
                        <div class="modal-header">
                           <h5 class="modal-title" id="exampleModalLabel">Zmiana nazwy kategorii</h5>
                           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        
                           <form action="/profile/editCategoryName" method="POST" class="needs-validation" id="editCategoryForm" novalidate>
                           <input type="text" class="form-control fs-5 pt-3 pb-3 shadow-none mb-2" name="categoryName" id="categoryName" value="" autofocus>
                           <input type="hidden" name="categoryID" id="categoryID">
                           <input type="hidden" name="categoryType" id="categoryType">
                    
                               
                        </div>
                        <div class="modal-footer">
                           <button type="submit" name="submitCategory" value="submitCategory" 
                              class="btn btn-success" data-bs-toggle="modal">Zapisz</button>
                        </div>
                     </form>

                     </div>
                  </div>
               </div>
               <!-- End of Modal -->

               <!-- Delete Modal -->
               <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                     <div class="modal-content">
                        <div class="modal-header">
                           <h5 class="modal-title" id="exampleModalLabel">Usuwanie kategorii</h5>
                           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                           <h5 class="mb-3">Czy na pewno chcesz usunąć kategorię ?</h5>
                           <p class="fs-2" id="categoryToDeleteName"></p>
                         
                           <p class="mb-0 modal-delete-descrition">Uwaga: Wszystkie wpisy z tej kategorii zostaną przeniesione do kategorii Inne!</p>

                           <form action="/profile/deleteCategory" method="POST" class="needs-validation" id="editCategoryForm" novalidate>
                           
                           <input type="hidden" name="categoryID" id="categoryToDeleteID">
                           <input type="hidden" name="categoryType" id="categoryToDeleteType">
                    
                        </div>
                        <div class="modal-footer">
                           <button type="button" name="ok"
                              class="btn btn-info" data-bs-dismiss="modal">Anuluj</button>
                           <button type="submit" name="submitDeleteCategory" value="submitDeleteCategory" 
                              class="btn btn-danger" data-bs-toggle="modal">Usuń</button>
                        </div>
                     </form>

                     </div>
                  </div>
               </div>
               <!-- End of Modal -->

               <!-- Indelible Modal -->
               <div class="modal fade" id="indelibleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                     <div class="modal-content">
                        <div class="modal-header">
                           <h5 class="modal-title" id="exampleModalLabel">Kategoria <span class=" text-danger">Inne</span></h5>
                           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                           <h5 class="mb-3">Ta kategoria nie może być usunięta ani edytowana</h5>
                        </div>
                        <div class="modal-footer">
                           <button type="button" name="ok"
                              class="btn btn-danger" data-bs-dismiss="modal">Zamknij</button>
                        </div>
                     </form>

                     </div>
                  </div>
               </div>
               <!-- End of Modal -->

               <!-- Add Income Modal -->
               <div class="modal fade" id="addIncomeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                     <div class="modal-content">
                        <div class="modal-header">
                           <h5 class="modal-title exampleModalLabel">Dodawanie kategorii przychodu</h5>
                           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                           <h5 class="mb-4">Wprowadź nazwę nowej kategorii</h5>                  

                           <form action="/profile/addIncomeCategory" class="xxx" method="POST"  id="addNewIncomeCategory">

                           <input type="text" class="form-control fs-5 pt-3 pb-3 shadow-none mb-2" name="newIncomeCategoryName" id="newIncomeCategoryName" value="" autofocus required>
                         
                        </div>
                        <div class="modal-footer">
                           <button type="submit" name="submitAddIncomeCategory" value="submitAddIncomeCategory" 
                              class="btn btn-success" data-bs-toggle="modal">Zapisz</button>
                        </div>
                     </form>

                     </div>
                  </div>
               </div>
               <!-- End of Modal -->

               <!-- Add Expense Modal -->
               <div class="modal fade" id="addExpenseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                     <div class="modal-content">
                        <div class="modal-header">
                           <h5 class="modal-title exampleModalLabel">Dodawanie kategorii wydatku</h5>
                           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                           <h5 class="mb-4">Wprowadź nazwę nowej kategorii</h5>                  

                           <form action="/profile/addExpenseCategory" method="POST" class="xxx"  id="addNewExpenseCategory">

                           <input type="text" class="form-control fs-5 pt-3 pb-3 shadow-none mb-2" name="newExpenseCategoryName" id="newExpenseCategoryName" value="" autofocus required>
                           
                        </div>
                        <div class="modal-footer">
                           <button type="submit" name="submitAddExpenseCategory" value="submitAddExpenseCategory" 
                              class="btn btn-success" data-bs-toggle="modal">Zapisz</button>
                        </div>
                     </form>

                     </div>
                  </div>
               </div>
               <!-- End of Modal -->

               <!-- Add Payment Modal -->
               <div class="modal fade" id="addPaymentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                     <div class="modal-content">
                        <div class="modal-header">
                           <h5 class="modal-title exampleModalLabel">Dodawanie metody płatności</h5>
                           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                           <h5 class="mb-4">Wprowadź nazwę nowej metody płatności</h5>                  

                           <form action="/profile/addPaymentCategory" method="POST"  id="addNewPaymentCategory">

                           <input type="text" class="form-control fs-5 pt-3 pb-3 shadow-none mb-2" name="newPaymentCategoryName" id="newPaymentCategoryName" value="" autofocus required>
                         
                        </div>
                        <div class="modal-footer">
                           <button type="submit" name="submitAddPaymentCategory" value="submitAddPaymentCategory" 
                              class="btn btn-success" data-bs-toggle="modal">Zapisz</button>
                        </div>
                     </form>

                     </div>
                  </div>
               </div>
               <!-- End of Modal -->
                
     
          </div>
       </div>
    </div>
 </section>
<!-- end of main section -->


<script>



$(document).ready(function(){

   $("button").click(function (e) {

      if ((this.id == 'incomeButton') || ((this.id == 'expenseButton')) || ((this.id == 'paymentButton'))) {

         if (this.id == 'incomeButton') {
            var selectedIncomeCategory = $("#selectedIncomeCategory").val();
            var categoryName = selectedIncomeCategory.split("|");
            $('#categoryType').val('income');
                   

         } else if (this.id == 'expenseButton') {
            var selectedExpenseCategory = $("#selectedExpenseCategory").val();
            var categoryName = selectedExpenseCategory.split("|");
            $('#categoryType').val('expense');

         } else if (this.id == 'paymentButton') {
            var selectedPaymentCategory = $("#selectedPaymentCategory").val();
            var categoryName = selectedPaymentCategory.split("|");
            $('#categoryType').val('payment');

         }
         $('#categoryName').val(categoryName[1]);
         $('#categoryID').val(categoryName[0]);

         if(categoryName[1] == 'Inne'){
            $('#indelibleModal').modal('show');
         } else {
            $('#myModal').modal('show');
            $('#myModal').on('shown.bs.modal', function () {
            $('#categoryName').focus();
         });
         }

         
      }

      if ((this.id == 'incomeDeleteButton') || ((this.id == 'expenseDeleteButton')) || ((this.id == 'paymentDeleteButton'))) {

         if (this.id == 'incomeDeleteButton') {
            var selectedIncomeCategory = $("#selectedIncomeCategory").val();
            var categoryName = selectedIncomeCategory.split("|");
            $('#categoryToDeleteType').val('income');

         } else if (this.id == 'expenseDeleteButton') {
            var selectedExpenseCategory = $("#selectedExpenseCategory").val();
            var categoryName = selectedExpenseCategory.split("|");
            $('#categoryToDeleteType').val('expense');

         } else if (this.id == 'paymentDeleteButton') {
            var selectedPaymentCategory = $("#selectedPaymentCategory").val();
            var categoryName = selectedPaymentCategory.split("|");
            $('#categoryToDeleteType').val('payment');

         }
   
         $('#categoryToDeleteID').val(categoryName[0]);
         $('#categoryToDeleteName').text(categoryName[1]);     

         if(categoryName[1] == 'Inne'){
            $('#indelibleModal').modal('show');
         } else {
            $('#deleteModal').modal('show');
         }
         
      }

      if ((this.id == 'incomeAddButton') || ((this.id == 'expenseAddButton')) || ((this.id == 'paymentAddButton'))) {

         if (this.id == 'incomeAddButton') {

            $('#newIncomeCategoryName').removeClass('is-invalid');
            $('#newIncomeCategoryName').removeClass('is-valid');
            $('#newIncomeCategoryName').val('');
            $('#addIncomeModal').modal('show');
            $('#addIncomeModal').on('shown.bs.modal', function () {
               $('#newIncomeCategoryName').focus();
            }); 

         }  if (this.id == 'expenseAddButton') {

            $('#newExpenseCategoryName').removeClass('is-invalid');
            $('#newExpenseCategoryName').removeClass('is-valid');
            $('#newExpenseCategoryName').val('');
            $('#addExpenseModal').modal('show');
            $('#addExpenseModal').on('shown.bs.modal', function () {
               $('#newExpenseCategoryName').focus();
            });
           
         }  if (this.id == 'paymentAddButton') {
           
            $('#newPaymentCategoryName').removeClass('is-invalid');
            $('#newPaymentCategoryName').removeClass('is-valid');
            $('#newPaymentCategoryName').val('');
            $('#addPaymentModal').modal('show');
            $('#addPaymentModal').on('shown.bs.modal', function () {
               $('#newPaymentCategoryName').focus();
            });
        }
      }
   })

});



$(document).ready(function(){

   //Jquery Validation
   $.validator.setDefaults({
      errorClass: 'invalid-feedback',
      highlight: function (element) {
         $(element)
            .addClass('is-invalid');
      },
      unhighlight: function (element) {
         $(element)
            .removeClass('is-invalid')
            .addClass('is-valid')
      },
   });   

   jQuery.validator.addMethod("alphanumeric", function (value, element) {
      return this.optional(element) || /^[a-zA-Z]+[a-zA-Z0-9_ ]*$/i.test(value);
   });

   $('form').each(function() {  
        $(this).validate({      
         rules: {
         newIncomeCategoryName: {
            required: true,
            minlength: 3,
            alphanumeric: true,
            remote: '/profile/validateIncomeCategory'
         },
         newExpenseCategoryName: {
            required: true,
            minlength: 3,
            alphanumeric: true,
            remote: '/profile/validateExpenseCategory'

         },
         newPaymentCategoryName: {
            required: true,
            minlength: 3,
            alphanumeric: true,
            remote: '/profile/validatePaymentCategory'

         },
         categoryName: {
            required: true,
            minlength: 3,
            alphanumeric: true,
            remote: {
                url: '/profile/validateCategory',
                data: {
                  categoryName: function () {
                      return $("#categoryName").val();
                   },
                   categoryType: function () {
                      return $("#categoryType").val();
                   }
               }
         }
         }
      },
      messages: {
         newIncomeCategoryName: {
            required: 'Pole z nazwą mie może byc puste',
            minlength: 'Wprowadź minimum 3 znaki',
            alphanumeric: 'Nie używaj spacji na początku lub znaków specjalnych',
            remote: 'Ta nazwa jest już zajęta'
         },
         newExpenseCategoryName: {
            required: 'Pole z nazwą mie może byc puste',
            minlength: 'Wprowadź minimum 3 znaki',
            alphanumeric: 'Nie używaj spacji na początku lub znaków specjalnych',
            remote: 'Ta nazwa jest już zajęta'
         },
         newPaymentCategoryName: {
            required: 'Pole z nazwą mie może byc puste',
            minlength: 'Wprowadź minimum 3 znaki',
            alphanumeric: 'Nie używaj spacji na początku lub znaków specjalnych',
            remote: 'Ta nazwa jest już zajęta'
         },
         categoryName: {
            required: 'Pole z nazwą mie może byc puste',
            minlength: 'Wprowadź minimum 3 znaki',
            alphanumeric: 'Nie używaj spacji na początku lub znaków specjalnych',
            remote: 'Ta nazwa jest już zajęta'
         }
      }
        });
    });


});


//---end---
</script>

{% endblock %}
{% endblock %}

