{% extends "baseAfterLogin.html" %}

{% block title %}Profil{% endblock %}

{% block body %}

{% block footer %}




<!-- main secion -->
<section id="main">
    <div class="container-xxl mt-5">
       <div class="row align-items-start">
          <div class="col-lg-6 align-self-start dupa">
             <header>

               {% if currentUser %}
                  <span><h1 class='text-start'>Witaj <span class='text-success'>{{currentUser.username}}</h1></span>
               {% endif %} 

             </header>
             <div class="row">
                <a href="/addIncome" class="col bg-light mb-2 me-2 p-5 rounded-3 text-center text-white text-nowrap fs-2">
                   Dodaj przychód
                </a>
                <a href="/addExpense" class="col bg-secondary mb-2 me-2 p-5 rounded-3 text-center text-white text-nowrap fs-2">
                   Dodaj rozchód
                </a>
             </div>
             <div class="row">
                <a href="/period" class="col bg-info me-2 p-5 rounded-3 text-center text-nowrap text-white fs-2">
                   Przeglądaj bilans
                </a>
             </div>
          </div>
          <div class="col ms-lg-5 mt-5 mt-lg-0">
             <header>
                <h1 class="text-start">Ustawienia</h1>
             </header>
                
                <div class="mb-3">
                   <label for="selectIncomeCategory" class="form-label">Wybierz kategorię przychodu do edycji</label>
                   <select name="incomeCategory"  class="form-select fs-5 pt-3 pb-3" id="selectedIncomeCategory" aria-label="Default select example">

                      {% if income_cat %} 
                        {% for key, value in income_cat %}
                           <option value="{{ value.id|e }}|{{ value.name|e }}"
                           
                           {% if category_name is defined %}
                           {% if category_name == value.name|e %}
                                 selected
                           {% endif %}
                           {% endif %}
                           
                           >{{ value.name|e }}</option>
                        {% endfor %}
                      {% endif %}                      

                   </select>
                </div>
                
                <button type="button" id="incomeButton" class="btn btn-info mb-4 p-2 incomeCategoryEdit" data-id="">Zmień nazwę</button>
                <button type="button" id="incomeDeleteButton" class="btn btn-danger mb-4 p-2 incomeCategoryEdit" data-id="">Usuń</button>
                <button type="button" id="incomeAddButton" class="btn btn-success mb-4 p-2 incomeCategoryEdit" data-id="">Dodaj</button>

                <div class="mb-3">
                  <label for="selectExpenseCategory" class="form-label">Wybierz kategorię rozchodu do edycji</label>
                  <select name="expenseCategory"  class="form-select fs-5 pt-3 pb-3" id="selectedExpenseCategory" aria-label="Default select example">

                     {% if expense_cat %} 
                       {% for key, value in expense_cat %}
                          <option value="{{ value.id|e }}|{{ value.name|e }}" 
                          
                           {% if category_name is defined %}
                           {% if category_name == value.name|e %}
                                 selected
                           {% endif %}
                           {% endif %}
                          
                          >{{ value.name|e }}</option>
                       {% endfor %}
                     {% endif %}  
                     
                  </select>
               </div>
               
               <button type="button" id="expenseButton" class="btn btn-info mb-4 p-2 expenseCategoryEdit" data-id="">Zmień nazwę</button>
               <button type="button" id="expenseDeleteButton" class="btn btn-danger mb-4 p-2 expenseCategoryEdit" data-id="">Usuń</button>
               <button type="button" id="expenseAddButton" class="btn btn-success mb-4 p-2 expenseCategoryEdit" data-id="">Dodaj</button>
             

                <!-- Edit Modal -->
               <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                     <div class="modal-content">
                        <div class="modal-header">
                           <h5 class="modal-title" id="exampleModalLabel">Zmiana nazwy kategorii</h5>
                           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                           <h4></h4>

                           <form action="/profile/editCategoryName" method="POST" class="needs-validation" id="editCategoryForm" novalidate>
                           <input type="text" class="form-control fs-5 pt-3 pb-3 shadow-none mb-2" name="categoryName" id="categoryName" value="" autofocus>
                           <input type="hidden" name="categoryID" id="categoryID">
                           <input type="hidden" name="categoryType" id="categoryType">
                    
                           
                        </div>
                        <div class="modal-footer">
                           <button type="submit" name="submitCategory" value="submitCategory" 
                              class="btn btn-success" data-bs-toggle="modal">Zapisz</button>
                        </div>
                     </form>

                     </div>
                  </div>
               </div>
               <!-- End of Modal -->

               <!-- Delete Modal -->
               <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                     <div class="modal-content">
                        <div class="modal-header">
                           <h5 class="modal-title" id="exampleModalLabel">Usuwanie kategorii</h5>
                           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                           <h5 class="mb-4">Czy na pewno chcesz usunąć kategorię?</h5>
                           <p class="fs-2 text-danger" id="categoryToDeleteName"></p>
                         
                           <p class=" fs-5 text-danger mb-0">Wszystkie wpisy z tej kategorii zostaną przeniesione do kategorii Inne!</p>

                           <form action="/profile/deleteCategory" method="POST" class="needs-validation" id="editCategoryForm" novalidate>
                           
                           <input type="hidden" name="categoryID" id="categoryToDeleteID">
                           <input type="hidden" name="categoryType" id="categoryToDeleteType">
                    
                        </div>
                        <div class="modal-footer">
                           <button type="submit" name="submitDeleteCategory" value="submitDeleteCategory" 
                              class="btn btn-danger" data-bs-toggle="modal">Usuń</button>
                        </div>
                     </form>

                     </div>
                  </div>
               </div>
               <!-- End of Modal -->

               <!-- Add Modal -->
               <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                     <div class="modal-content">
                        <div class="modal-header">
                           <h5 class="modal-title" id="exampleModalLabel">Dodawanie kategorii</h5>
                           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                           <h5 class="mb-4">Wprowadź nazwę nowej kategorii</h5>                  

                           <form action="/profile/addCategory" method="POST" class="needs-validation" id="editCategoryForm" novalidate>

                           <input type="text" class="form-control fs-5 pt-3 pb-3 shadow-none mb-2" name="newCategoryName" id="newCategoryName" value="" autofocus>
                           <input type="hidden" name="userID" id="userID" value="">
                           <input type="hidden" name="categoryType" id="categoryToAddType">
                    
                        </div>
                        <div class="modal-footer">
                           <button type="submit" name="submitAddCategory" value="submitAddCategory" 
                              class="btn btn-success" data-bs-toggle="modal">Zapisz</button>
                        </div>
                     </form>

                     </div>
                  </div>
               </div>
               <!-- End of Modal -->
                
     
          </div>
       </div>
    </div>
 </section>
<!-- end of main section -->

<script>


$(document).ready(function(){

   $("button").click(function (e) {

      if ((this.id == 'incomeButton') || ((this.id == 'expenseButton'))) {

         if (this.id == 'incomeButton') {
            var selectedIncomeCategory = $("#selectedIncomeCategory").val();
            var categoryName = selectedIncomeCategory.split("|");
            $('#categoryType').val('income');

         } else if (this.id == 'expenseButton') {
            var selectedExpenseCategory = $("#selectedExpenseCategory").val();
            var categoryName = selectedExpenseCategory.split("|");
            $('#categoryType').val('expense');

         }
         $('#categoryName').val(categoryName[1]);
         $('#categoryID').val(categoryName[0]);
         $('#myModal').modal('show');
         $('#myModal').on('shown.bs.modal', function () {
            $('#categoryName').focus();
         });
      }

      if ((this.id == 'incomeDeleteButton') || ((this.id == 'expenseDeleteButton'))) {

         if (this.id == 'incomeDeleteButton') {
            var selectedIncomeCategory = $("#selectedIncomeCategory").val();
            var categoryName = selectedIncomeCategory.split("|");
            $('#categoryToDeleteType').val('income');

         } else if (this.id == 'expenseDeleteButton') {
            var selectedExpenseCategory = $("#selectedExpenseCategory").val();
            var categoryName = selectedExpenseCategory.split("|");
            $('#categoryToDeleteType').val('expense');

         }
   
         $('#categoryToDeleteID').val(categoryName[0]);
         $('#categoryToDeleteName').text(categoryName[1]);
         $('#deleteModal').modal('show');
      }

      if ((this.id == 'incomeAddButton') || ((this.id == 'expenseAddButton'))) {

         if (this.id == 'incomeAddButton') {
            // var selectedIncomeCategory = $("#selectedIncomeCategory").val();
            // var categoryName = selectedIncomeCategory.split("|");
            $('#categoryToAddType').val('income');

         } else if (this.id == 'expenseAddButton') {
            // var selectedExpenseCategory = $("#selectedExpenseCategory").val();
            // var categoryName = selectedExpenseCategory.split("|");
            $('#categoryToAddType').val('expense');

         }

         // $('#categoryToDeleteID').val(categoryName[0]);
         // $('#categoryToDeleteName').text(categoryName[1]);
         $('#addModal').modal('show');
         $('#addModal').on('shown.bs.modal', function () {
            $('#newCategoryName').focus();
         });
      }

   })
});


    //Jquery Validation
$.validator.setDefaults({
  errorClass: 'invalid-feedback',
  highlight: function(element){
      $(element)
          .addClass('is-invalid');
  },
  unhighlight: function(element){
      $(element)
          .removeClass('is-invalid')
          .addClass('is-valid')
  },
});

$.validator.addMethod('validDates',
  function(value, element, param){
      if (value != '') {
          if (value < '2000-01-01') {
              return false;
          }
      }
      return true;
  },
  'Data musi być większa od 01-01-2000'

);


$(document).ready(function(){
  $('#addIncomeForm').validate({
      rules: {
         incomeAmount: { 
          required: true 
          },
         incomeDate: {
            required: true,
            validDates: true
         }                     
      },
      messages: {
         incomeAmount: {
              required: '<span class="text-danger">To pole jest wymagane</span>'
          },
          incomeDate: {
            required: '<span class="text-danger">To pole jest wymagane</span>'
          }   
      }
  });           
});

//---end---
</script>

{% endblock %}
{% endblock %}

