{% extends "baseAfterLogin.html" %}

{% block title %}Dodaj przychód{% endblock %}

{% block body %}

{% block footer %}

{% endblock %}



<!-- main secion -->
<section id="main">
    <div class="container-xxl mt-5">
       <div class="row align-items-start">
          <div class="col-lg-6 align-self-start dupa">
             <header>

               {% if currentUser %}
                  <span><h1 class='text-start'>Witaj <span class='text-success'>{{currentUser.username}}</h1></span>
               {% endif %} 

               {% if session.income_submitted %}
                 <script>
                  $(document).ready(function(){
                     $('#exampleModal').modal('show');
                  });
                  </script>
               {% endif %}

             </header>
             <div class="row">
                <a href="/addIncome" class="col bg-light mb-2 me-2 p-5 rounded-3 text-center text-white text-nowrap fs-2">
                   Dodaj przychód
                </a>
                <a href="/addExpense" class="col bg-secondary mb-2 me-2 p-5 rounded-3 text-center text-white text-nowrap fs-2">
                   Dodaj rozchód
                </a>
             </div>
             <div class="row">
                <a href="/period" class="col bg-info me-2 p-5 rounded-3 text-center text-nowrap text-white fs-2">
                   Przeglądaj bilans
                </a>
             </div>
          </div>
          <div class="col ms-lg-5 mt-5 mt-lg-0">
             <header>
                <h1 class="text-start">Dodaj przychód</h1>
             </header>

             <form action="/income/add" method="POST" class="needs-validation" id="addIncomeForm" novalidate>
                <div class="mb-3 mt-5">
                   <label for="inputIncome1" class="form-label">Podaj kwotę przychodu</label>
                   <input type="number" name="incomeAmount" class="form-control fs-5 pt-3 pb-3 shadow-none" id="inputExpense1" step="any" min="0.01">
                </div>
                <div class="mb-3">
                   <label for="inputDate1" class="form-label">Wprowadź datę przychodu</label>
                   <input type="date" name="incomeDate" value="" class="form-control fs-5 pt-3 pb-3 shadow-none" id="inputDateIncome" aria-describedby="emailHelp">
                  
                </div>
                <div class="mb-3">
                   <label for="selectIncomeCategory" class="form-label">Wybierz kategorię</label>
                   <select name="incomeCategory"  class="form-select fs-5 pt-3 pb-3" id="selectedIncomeCategory" aria-label="Default select example">

                      {% if session.income_cat %} 
                        {% for key, value in session.income_cat %}
                           <option value="{{ value.id|e }}|{{ value.name|e }}">{{ value.name|e }}</option>
                        {% endfor %}
                      {% endif %}                      

                   </select>
                </div>

                
               <!-- Modal -->
               <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                     <div class="modal-content">
                        <div class="modal-header">
                           <h4 class="modal-title text-success" id="exampleModalLabel">Dodano przychód</h5>
                           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                           <h5 class="text-start">Data: {{income_date}}</h5>
                           <h5 class="text-start">Kategoria: {{income_cat}}</h5>
                           <h5 class="text-start">Kwota: {{income_amount}}<h5>                          
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-success" data-bs-dismiss="modal">Zamknij</button>                
                        </div>
                     </div>
                  </div>
               </div>              
                <!-- End of Modal -->
                
                <button type="submit" name="submitIncome" id="myButton" class="btn btn-light p-3" data-bs-toggle="modal">Dodaj przychód</button>
                
             </form>

             <script>
               document.addEventListener("DOMContentLoaded", function(event) { 
                  document.getElementById('inputDateIncome').valueAsDate = new Date();
               });
             </script>

          </div>
       </div>
    </div>
 </section>
<!-- end of main section -->

<script>
    //Jquery Validation
$.validator.setDefaults({
  errorClass: 'invalid-feedback',
  highlight: function(element){
      $(element)
          .addClass('is-invalid');
  },
  unhighlight: function(element){
      $(element)
          .removeClass('is-invalid')
          .addClass('is-valid')
  },
});

$.validator.addMethod('validDates',
  function(value, element, param){
      if (value != '') {
          if (value < '2000-01-01') {
              return false;
          }
      }
      return true;
  },
  'Data musi być większa od 01-01-2000'

);


$(document).ready(function(){
  $('#addIncomeForm').validate({
      rules: {
         incomeAmount: { 
          required: true 
          },
         incomeDate: {
            required: true,
            validDates: true
         }                     
      },
      messages: {
         incomeAmount: {
              required: '<span class="text-danger">To pole jest wymagane</span>'
          }   
      }
  });           
});

//---end---
</script>

{% endblock %}